html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 16px;
  color: #fff;
  background-color: #a3b5cd;
}

.is-fixed {
  position: fixed;
  inset: 0;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  height: 100px;
  padding-block-start: 50px;
  margin-inline: auto;
}

.header-wrap .logo {
  color: #f2c166;
  letter-spacing: 6px;
}

.header-wrap .navigation {
  align-self: center;
  transition: all 0.6s;
}

.header-wrap .nav-toggle .nav-border {
  transition: all 0.6s;
}

.nav-border .is-active {
  color: #a3b5cd;
}

.nav-border:nth-of-type(1).is-active {
  transform: translateY(8px) rotate(-45deg);
}

.nav-border:nth-of-type(2).is-active {
  opacity: 0;
}

.nav-border:nth-of-type(3).is-active {
  transform: translateY(-8px) rotate(45deg);
}

.is-blank {
  display: none;
}

.section {
  padding-block-start: 50px;
  padding-block-end: 140px;
}

.button-wrap {
  margin-inline: auto;
}

.button {
  position: relative;
  width: 100%;
  height: 100%;
  height: 40px;
  margin-inline: auto;
  overflow: hidden;
  text-align: center;
  border: 4px #fff solid;
  border-radius: 15px;
}

.button:hover {
  color: #a3b5cd;
}

.button:hover .text {
  color: #a3b5cd;
}

.button::before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  color: #a3b5cd;
  content: '';
  background: #fff;
  transition: all 0.2s;
}

.button:hover::before {
  width: 100%;
  color: #a3b5cd;
  transition-delay: 0.2s;
}

.first-view .slider-area {
  position: relative;
  max-width: 400px;
  height: 400px;
  margin-inline: auto;
  overflow: hidden;
}

.first-view .slider {
  position: relative;
  width: 100%;
  height: 400px;
}

.first-view .slider-area .slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.first-view .title {
  margin-block-start: 130px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 6px;
}

.contents-wrap {
  max-width: 1240px;
  margin-inline: auto;
}

.contents-wrap .title {
  font-size: 32px;
  letter-spacing: 6px;
}

.contents-wrap .content {
  margin-block-start: 30px;
}

.about .content .introduction-text {
  line-height: 30px;
}

.about .content .introduction-image {
  min-width: 400px;
  height: 300px;
}

.works .work-item {
  position: relative;
}

.works .work-item .fade-wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  opacity: 0;
}

.work-item .fade-wrap .text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #a3b5cd;
}

.works .work-item .fade-wrap:hover {
  width: 90%;
  height: 90%;
  font-size: 24px;
  background-color: rgb(255 255 255 / 100%);
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.works .work-list img {
  aspect-ratio: 5/5;
}

.contact .contents-wrap {
  max-width: 500px;
}

.contact .title {
  height: 30px;
  text-align: center;
}

.contact .description {
  margin-block-start: 60px;
  text-align: center;
  letter-spacing: 6px;
}

.contact .button-wrap {
  margin-block-start: 120px;
  text-align: center;
}

.contact .button {
  margin-inline: auto;
  letter-spacing: 6px;
}

.contact .sns-wrap {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-block-start: 30px;
  margin-inline: auto;
}

.contact .sns-wrap .twitter {
  width: 50px;
  height: 50px;
  background-image: url('../img/iconmonstr-twitter-4.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact .sns-wrap .instagram {
  width: 50px;
  height: 50px;
  background-image: url('../img/iconmonstr-instagram-14.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  position: sticky;
  top: 100vh;
}

.footer .footer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 16px;
  background-color: #f2c166;
}

.top {
  position: fixed;
  right: 10px;
  bottom: 50px;
  width: 125px;
}

.top .button {
  background-color: #a3b5cd;
}

.top .button:hover {
  z-index: 0;
}

.top button:hover .page-top {
  color: #a3b5cd;
}

.single .contents-wrap {
  padding-block-start: 50px;
  padding-block-end: 300px;
}

.single .contents {
  margin-block-start: 70px;
}

.single .thumbnail img {
  aspect-ratio: 5/5;
}

.single .contents .title {
  margin-block-start: 100px;
  text-align: center;
}

.single .text-wrap {
  max-width: 1200px;
  margin-block-start: 100px;
  margin-inline: auto;
}

.single .text-wrap p {
  line-height: 3;
}

.mw_wp_form_input .container {
  padding-block-end: 70px;
}

.mw_wp_form_input .container .title {
  text-align: center;
}

.mw_wp_form_input .container .contents-wrap {
  max-width: 500px;
  padding-block-start: 150px;
  margin-inline: auto;
}

.mw_wp_form_input .container.contact-list {
  margin-block-start: 30px;
}

.mw_wp_form_input .container .contact-item + .contact-item {
  margin-block-start: 30px;
}

.mw_wp_form_input .container .input-wrap {
  height: 50px;
  margin-block-start: 10px;
  background-color: #fff;
}

.mw_wp_form_input .container .text-area {
  width: 100%;
  height: 400px;
  padding: 16px;
  margin-block-start: 10px;
  color: #666;
  background-color: #fff;
}

.mw_wp_form_input .container .input-wrap .text-input {
  width: 100%;
  padding: 16px;
  color: #666;
}

.mw_wp_form_input .container .button-wrap {
  width: 125px;
  margin-block-start: 100px;
  margin-inline: auto;
}

.mw_wp_form_input .is-visible {
  display: none;
}

.mw_wp_form_confirm .container {
  padding-block-end: 70px;
}

.mw_wp_form_confirm .container .title {
  text-align: center;
}

.mw_wp_form_confirm .container .contents-wrap {
  max-width: 500px;
  padding-block-start: 150px;
  margin-inline: auto;
}

.mw_wp_form_confirm .contact-list {
  margin-block-start: 30px;
}

.mw_wp_form_confirm .text-input {
  width: 100%;
  padding: 16px;
}

.mw_wp_form_confirm .container .text-area {
  width: 100%;
  padding: 16px;
}

.mw_wp_form_confirm .container .contact-item + .contact-item {
  margin-block-start: 30px;
}

.mw_wp_form_confirm .container .contact-item {
  border-bottom: 2px #fff solid;
}

.mw_wp_form_confirm .text-area {
  max-width: 100%;
  height: 400px;
  padding: 16px;
  margin-block-start: 10px;
  color: #666;
}

.mw_wp_form_confirm .container .button-wrap {
  display: flex;
  justify-content: space-between;
  margin-block-start: 100px;
}

.mw_wp_form_confirm .container .button {
  max-width: 125px;
}

.mw_wp_form_complete {
  padding-block-start: 150px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 6px;
}

.mw_wp_form_send .thanks {
  margin-block-start: 120px;
  text-align: center;
}

.mw_wp_form_send_error {
  padding-block-start: 150px;
  text-align: center;
  letter-spacing: 6px;
}

@media not all and (max-width: 1300px) {
  .tab-visible {
    display: none;
  }

  .header-wrap .navigation .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 470px;
  }

  .single .thumbnail {
    max-width: 600px;
    max-height: 600px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 1300px) {
  .header-wrap .is-active {
    z-index: 997;
    display: block;
    justify-content: space-between;
    margin-inline: 10px;
    line-height: 1.6;
    color: #a3b5cd;
    text-align: center;
    transition: all 0.5s;
  }

  .header-wrap {
    justify-content: space-between;
    margin-inline: 70px;
  }

  .header-wrap .nav-list {
    position: fixed;
    top: 50%;
    right: 10%;
    display: none;
    font-size: 24px;
    letter-spacing: 6px;
  }

  .header-wrap .nav-list .nav-list-item + .nav-list-item {
    margin-block-start: 30px;
  }

  .header-wrap .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 996;
    width: 100%;
    height: 100%;
    color: #f2c166;
    background-color: #fff;
  }

  .header-wrap .is-open {
    position: fixed;
    left: 0;
  }

  .header .header-wrap .nav-toggle {
    z-index: 996;
    display: block;
    align-self: center;
  }

  .header-wrap .nav-toggle .nav-border {
    display: block;
    width: 20px;
    height: 4px;
    background-color: #fff;
  }

  .header-wrap .nav-toggle .is-active {
    background-color: #a3b5cd;
  }

  .header-wrap .nav-toggle span + span {
    margin-block-start: 4px;
  }

  .single .contents-wrap {
    margin-inline: 10px;
  }

  .container {
    margin-inline: 10px;
  }
}

@media not all and (max-width: 1050px) {
  .works .work-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .work-list .work-item {
    max-width: 250px;
  }
}

@media screen and (max-width: 1050px) {
  .works .work-list .work-item + .work-item {
    margin-block-start: 30px;
  }
}

@media not all and (max-width: 768px) {
  .header-wrap .logo {
    font-size: 40px;
  }

  .sp-visible {
    display: none;
  }

  .about .contents-wrap .content {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
  }

  .about .content .introduction-text {
    max-width: 530px;
  }

  .works .title {
    text-align: end;
  }

  .mw_wp_form_complete {
    font-size: 32px;
  }

  .mw_wp_form_send_error {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .header-wrap {
    justify-content: end;
    margin-inline: 10px;
  }

  .header-wrap .logo {
    font-size: 30px;
  }

  .header .is-active {
    justify-content: space-between;
  }

  .header-wrap .is-visible {
    display: none;
  }

  .header-wrap .is-invisible {
    display: none;
  }

  .contents-wrap .title {
    text-align: center;
  }

  .about .content .introduction-image {
    display: none;
    margin-block-start: 30px;
    margin-inline: auto;
  }

  .single .contents-wrap .title {
    text-align: center;
  }

  .mw_wp_form_complete {
    font-size: 26px;
  }

  .mw_wp_form_send_error {
    font-size: 26px;
  }
}
